<h2>Dashboard</h2>
<h3><%= Message.model_name.human(:count => 2) %></h3>
<ul class="group_by">
<% @messages.each do |date, messages| %>
  <li><span class="group_title"><%= l(date, format: :fdate) %></span>
    <ul>
<% messages.each do |message| %>
      <li><%= link_to message.title, message_path(message) %></li>
<% end %>
    </ul>
  </li>
<% end %>
</ul>
<div class="link">
  <%= link_to t('app.label.more_instance', :instance => Message.model_name.human(:count => 2)),
    messages_path, :class => 'icon more'
  %>
</div>
