<h2>
  <%= User.model_name.human(:count => 2) %>
  <% if can? :create, User %>
    <span><%= link_to image_tag('icons/page_white_add.png')+' '+t('app.label.new_model', :model => User.model_name.human), new_user_path %></span>
  <% end %>
</h2>
<%= render 'grid' %>