<div class="link">
<% if can? :edit, record

  model = record.class.model_name.human
%>
  <%= link_to t('app.label.edit_model', :model => model), edit_polymorphic_path(record), :class => 'icon edit' %>
  |
  <%= link_to t('app.label.delete_model', :model => model), record, :class => 'icon delete',
    method: :delete, data: {confirm: t('app.confirm.are_you_sure')} %>
  |
<% end %>
  <%= link_to t('app.label.show_changes'), model_changes_path(record.class, record.id), :class => 'icon changes' %>
</div>
