<%
  e, l = '', []
  model_name = instance.class.model_name.human
  path_args  = instance_path_args instance

  if defined?(export) && export
    e = render 'shared/links_instance_export', :instance => instance
  end

  if can? :edit, instance
    l << link_to(t('app.label.edit_instance', :instance => model_name),
      edit_polymorphic_path(path_args), :class => 'icon edit'
    )
  end

  if can? :destroy, instance
    l << link_to(t('app.label.destroy_instance', :instance => model_name),
      path_args, :class => 'icon delete', method: :delete, data: {
        confirm: t('app.confirm.delete_instance', :model => instance.class.model_name.human )
      }
    )
  end

  if can? :show, Version
    l << link_to(t('app.label.show_changes'),
      instance_changes_path(instance.class, instance.id), :class => 'icon changes'
    )
  end

%><div class="link"><%= e %><%= l.join(' | ').html_safe %></div>
