<div class="link"><%=

  links = []
  model = record.class.model_name.human

  if can? :edit, record
    links << link_to(t('app.label.edit_model', :model => model),
      edit_polymorphic_path(record), :class => 'icon edit'
    )
  end

  if can? :destroy, record
    links << link_to(t('app.label.delete_model', :model => model),
      record, :class => 'icon delete', method: :delete,
      data: {confirm: t('app.confirm.are_you_sure')}
    )
  end

  if can? :version, record
    links << link_to(t('app.label.show_changes'),
      model_changes_path(record.class, record.id), :class => 'icon changes'
    )
  end

  links.join(' | ').html_safe

%></div>
