<%
  thead = ''
  tbody = ''

  if !records.nil? && records.count > 0
    model = records.first.class

    columns.each do |col|
      thead << "<th>#{model.human_attribute_name(col)}</th>"
    end
    records.each do |record|
      tbody << "<tr>"
      columns.each do |col|
        val = col.class == 'TimeWithZoneDate' ? l(record[col], format: :medium) : record[col]
        tbody << "<td>#{val}</td>"
      end
      tbody << "</tr>"
    end
  end
%>
<table>
  <thead>
    <tr><%= raw thead %></tr>
  </thead>
  <tbody>
    <%= raw tbody %>
  </tbody>
</table>
