<h2>
  <%= Mandator.model_name.human(:count => 2) %>
  <% if can? :create, Mandator %>
    <span><%= link_to image_tag('icons/page_white_add.png')+' '+t('app.label.new_model', :model => Mandator.model_name.human), new_mandator_path %></span>
  <% end %>
</h2>
<%= grid(@mandators_grid, show_filters: :when_filtered, allow_showing_all_records: false) do |g|

  g.column :name => Mandator.human_attribute_name('name'),
    :attribute => 'name' do |mandator|
      link_to(mandator.name, mandator_path(mandator))
  end

  ['created_at', 'updated_at'].each do |attr|
    g.column :name => Mandator.human_attribute_name(attr), :attribute => attr do |mandator|
      [mandator[attr].nil? ? '' : l(mandator[attr], format: :fdatetime), :class => 'fdatetime']
    end
  end

  g.column html: {class: 'button-column'} do |mandator|
    link_to(image_tag('icons/page_white_edit.png'),
      edit_mandator_path(mandator), title: t('app.action.edit')
    ) + ' ' +
    link_to(image_tag('icons/page_white_delete.png'),
      mandator, title: t('app.action.delete'),
      method: :delete, data: {confirm: 'Are you sure?'}
    )
  end

end %>
