@mixin icon-dimensions {
  width: 16px;
  height: 16px;
}
@mixin date-label {
  a.date-label {
    text-decoration: none;
    &:hover { text-decoration: line-through; }
  }
}

.wg-detached-filter { @include date-label; }

.wice-grid {
  @include date-label;

  .ui-datepicker-trigger, .wg-detached-filter .ui-datepicker-trigger {
    cursor: pointer;
  }

  .desc, .asc{
    display: block;
    padding-right: 18px;
    text-decoration: none;
  }

  .desc {
    background: transparent url(image_path('icons/control-270-small.png')) right no-repeat
  }
  .asc  {
    background: transparent url(image_path('icons/control-090-small.png')) right no-repeat
  }

  .clickable {
    @include icon-dimensions;
    background: transparent no-repeat;
    cursor: pointer;


    &.submit {
      background-image: url(image_path('icons/binocular.png'));
      float: left;
    }
    &.reset {
      background-image: url(image_path('icons/broom.png'));
      float: left;
      margin-left: 5px;
    }
    &.wg-show-filter, &.wg-hide-filter {
      background-image: url(image_path('icons/funnel.png'));
    }
    &.select-all {
      background-image: url(image_path('icons/ui-check-box.png'));
      float: left;
    }
    &.deselect-all {
      background-image: url(image_path('icons/ui-check-box-uncheck.png'));
      float: left;
    }
    &.export-to-csv-button {
      background-image: url(/assets/icons/grid/page_white_excel.png);
    }
  }

  .custom-dropdown-container {
    position: relative;
    padding-right: 10px;

    .collapse-multi-select-icon, .expand-multi-select-icon {
      position: absolute;
      top: -2px;
      right: 0;
      @include icon-dimensions;
      background: transparent no-repeat;
    }
    .collapse-multi-select-icon { background-image: url(image_path('icons/toggle-small.png')); }
    .expand-multi-select-icon   { background-image: url(image_path('icons/toggle-small-expand.png')); }
  }

  .text-filter-container {
    position: relative;
    padding-right: 13px;

    .negation-checkbox {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  thead th {
    &:last-child, &.filter_icons {
      width: 79px;
      min-width: 79px;
    }
  }


  /* in case of twitter bootstrap :) */
  thead th select { width: auto; }

  .pagination {
    margin: 0px;
    float: left;
  }

  tr.wg-filter-row {
    box-shadow: none;
    input[type=text] { width: 100px; }
  }

  .pagination_status {
    font-weight: bold;
    float: right;
  }

}

.wice-grid-query-panel {
  li { list-style-type: none; }

  ul { margin-left: 0; }

  a.wice-grid-delete-query .delete-icon {
    background: transparent url(image_path('icons/minus-circle.png')) no-repeat;
    float: left;
    @include icon-dimensions;
  }
}
