$color_text: #333;
$color_text_missing: lighten($color_text, 40%);
$color_border: #ccc;
$color_border_hover: $color_text;
$color_shadow: darken($color_border, 10%);
$color_link: #06c;
$color_error: #c00;
$color_alert: $color_error;
$color_warning: #edd400;
$color_info: $color_link;
$color_notice: #090;
$color_success: $color_notice;

$font: normal 14px verdana, arial, helvetica, sans-serif;

$shadow_inset_top: inset 0 5px 5px -5px $color_shadow;
$shadow_inset_bottom: inset 0 -10px 10px -10px $color_shadow;

* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}
body {
  background-color: #aaa;
  background-image: linear-gradient(to top, darken(#aaa, 50%), #aaa);
  color: $color_text;
  font: $font;
}
p, ol, ul, td { font: $font; }

a {
  color: $color_link;
  text-decoration: none;

  img { vertical-align: bottom; }

  &.icon {
    padding-left: 20px;
    background: transparent center left no-repeat;

    &.account  { background-image: url(image_path('icons/user_gray.png')) }
    &.logout   { background-image: url(image_path('icons/door_in.png')) }
    &.more     { background-image: url(image_path('icons/resultset_next.png')) }
    &.new      { background-image: url(image_path('icons/page_white_add.png')) }
    &.edit     { background-image: url(image_path('icons/page_white_edit.png')) }
    &.show     { background-image: url(image_path('icons/page_white_show.png')) }
    &.delete   { background-image: url(image_path('icons/page_white_delete.png')) }
    &.rollback { background-image: url(image_path('icons/page_white_lightning.png')) }
  }

  &[href^=http] {
    padding-right: 15px;
    background: transparent url(image_path('icons/world_link.png')) bottom right no-repeat;
    background-size: 12px;
  }
}

fieldset {
  display: inline-block;
  margin: 0 0 20px 0;
  padding: 10px;
  border: 1px solid $color_border;
  border-radius: 5px;

  legend {
    padding: 0 10px;
    font-size: 120%;
    font-weight: bold;
  }
  label {
    display: block;
    margin-bottom: 2px;

    &[for='user_password'] {
      width: 310px;

      &.password {
        background: transparent url(image_path('icons/stars.png')) 310px center no-repeat;

        &.score0 { background-position: 294px center; }
        &.score1 { background-position: 278px center; }
        &.score2 { background-position: 262px center; }
        &.score3 { background-position: 246px center; }
        &.score4 { background-position: 230px center; }
      }
    }
  }
  input {
    &[type='text'], &[type='email'], &[type='password'] {
      width: 300px;
      padding: 2px;
    }
    &[type='checkbox'] {
      vertical-align: bottom;

      &+label {
        display: inline-block;
        margin-bottom: 0;
      }
    }
  }
  input[type='submit'], button {
    float: right;
    padding: 2px 10px;
  }
  select {
    width: 300px;
  }
  textarea {
    width: 300px;
    min-height: 200px;
    height: 200px;
    padding: 2px;
    resize: vertical;
  }
}

div {
  &.flash {
    margin: -10px 0 10px 0;
    padding: 4px 10px;
    border: 1px solid $color_border;
    text-align: center;
    font-weight: bold;
    color: #fff;

    &.error, &.alert {
      background-color: $color_alert;
      background-image: linear-gradient(to top, darken($color_alert, 15%), $color_alert);
    }
    &.warning {
      color: $color_text;
      background-color: $color_warning;
      background-image: linear-gradient(to top, darken($color_warning, 15%), $color_warning);
    }
    &.info {
      background-color: $color_info;
      background-image: linear-gradient(to top, darken($color_info, 15%), $color_info);
    }
    &.notice, &.success {
      background-color: $color_notice;
      background-image: linear-gradient(to top, darken($color_notice, 15%), $color_notice);
    }
  }

  &#error_explanation {
    margin-bottom: 10px;
    padding: 4px 10px;
    border: 1px solid $color_error;
    background: #f0f0f0;

    h2 {
      margin: -4px -10px 4px -10px;
      padding: 0 10px;
      background-color: $color_error;
      color: #fff;
      font-weight: bold;
      font-size: 12px;
      line-height: 20px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: square inside;
      li { font-size: 12px; }
    }
  }

  &.field {
    margin-bottom: 10px;
  }
  &.field_with_errors {
    display: inline;

    label { color: $color_error; }
  }
  &.button {
    padding-top: 10px;
  }
}

table {
  width: 100%;
  margin-bottom: 10px;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  font-size: 86% !important;

  thead, tfoot {
    tr { border: 1px solid $color_border; }
  }

  thead {
    tr { box-shadow: $shadow_inset_bottom; }

    th {
      color: lighten($color_text, 20%);

      &.boolean div {
        padding: 0 !important;
      }
      input[type='text'], select {
        width: 97% !important;
      }
    }
  }
  tbody tr {
    &.even  { background: #eee; }
    &:hover { background: #ddd; }
  }

  th, td {
    padding: 4px 6px;
    border: 1px solid $color_border;

    &.right { text-align: right; }
  }
  th, td.left { text-align: left; }

  img { vertical-align: bottom; }

  th, td {
    &.fdatetime, &.boolean, &.numeric, &.button {
      width: 1% !important;
      white-space: nowrap;
    }
  }
  td {
    &.boolean { text-align: center; }
    &.numeric { text-align: right; }
  }
}

.pagination {
  height: 24px;

  ul {
    display: inline-block;
    list-style: none outset;
    border: 1px solid $color_border;
    border-radius: 5px;
  }
  li {
    display: inline;

    a {
      float: left;
      padding: 0 8px;
      border-left: 1px solid $color_border;
      line-height: 22px;
      box-shadow: $shadow_inset_bottom;
    }
    &:first-child a { border-left: 0; }
    &.active, &.disabled {
      a {
        box-shadow: $shadow_inset_top;
        color: $color_text;
      }
    }
  }
}
.pagination a, .pagination_status {
  font-size: 71%;
}

ul.group_by {
  list-style: none outside;

  span.group_title {
    display: block;
    padding: 4px;
    border: 1px solid $color_border;
    box-shadow: $shadow_inset_bottom;
    line-height: 1;
  }
  ul {
    margin-bottom: 10px;
    list-style: none inside;
    li {
      display: block;
      padding: 2px;
      border-bottom: 1px solid $color_border;

      &:last-child { border-bottom: 0; }
    }
  }
}

.box, .show_for {
  padding: 10px;
  border: 1px solid $color_border;
  border-radius: 5px;
  background-color: #eee;
  box-shadow: $shadow_inset_top;

  p {
    margin: 5px 0;
    &:first-child, &:only-child { margin-top: 0; }
    &:last-child, &:only-child { margin-bottom: 0; }
  }
}

span.nil {
  color: $color_text_missing;
  font-style: italic;
}

.link {
  float: right;
  margin-top: 10px;
}

.clear {
  clear: both !important;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}

#page {
  margin: 20px auto;
  width: 960px;
  background-color: #fff;
}

header {
  position: relative;
  padding: 10px 10px 0 10px;

  h1 {
    margin: 0 0 10px 0;
  }

  #account_box {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #navigation {
    position: relative;
    height: 28px;

    ul {
      position: absolute;
      left: -10px;
      bottom: 0;
      list-style: none inside;

      li {
        display: inline-block;
        margin: 0 0 -1px 10px;
        border: 1px solid $color_border;
        border-radius: 5px 5px 0 0;

        &.selected {
          border-bottom-color: #fff;

          a {
            padding: 4px 10px;
            box-shadow: none;
            background-color: transparent !important;
          }
        }

        a {
          display: inline-block;
          min-width: 80px;
          padding: 1px 10px 4px 10px;
          box-shadow: $shadow_inset_bottom;
          text-align: center;

          &:hover { background-color: #f6f6f6; }
        }
      }
    }
  }
}

#content{
  padding: 20px;
  border-top: 1px solid $color_border;
  border-bottom: 1px solid $color_border;

  h2 {
    margin-bottom: 5px;

    span {
      float: right;
      font: $font;
    }
  }
}

div.sub_navigation {
  margin-bottom: 10px;

  ul { list-style: none inside; }
  li {
    display: inline-block;
    border: 1px solid $color_border;

    a {
      display: inline-block;
      min-width: 50px;
      padding: 1px 10px 3px 10px;
      box-shadow: $shadow_inset_bottom;
      text-align: center;
      font-size: 86%;

      &.selected { box-shadow: $shadow_inset_top; }
      &.selected, &:hover { background-color: #f6f6f6; }
    }
  }
}

div.center_box {
  width: 332px;
  margin: 0 auto;

  fieldset {
    display: block;
  }
}

#users_edit, #users_update {
  fieldset {
    float: left;
    width: 430px;
  }
  .show_for.user {
    float: right;
    width: 430px;
    margin-top: 9px;
  }
}

#messages_new, #messages_edit {
  fieldset {
    display: block
  }
  input[type='text'], textarea {
    width: 892px;
  }
}
#messages_show {
  .info {
    float: left;
    margin-top: 10px;
  }
  ul {
    margin: 0 15px;
  }
}

#dashboard_index {
  .link { margin-top: 0; }
}

#changes_index, #changes_show {
  p.model_navi { margin-bottom: 5px; }

  table.change_details_table {
    table-layout: fixed;
    margin: 0;
  }

  tbody tr:hover table.change_details_table {
    &, & tr { background-color: #fff; }
  }

  tbody {
    td { font-size: 12px !important; }

    td {
      text-overflow: ellipsis !important;
      overflow: hidden !important;
      vertical-align: top;

      p {
        margin: -1px 2px 4px 2px;
        line-height: 1;

        span.event   { text-transform: uppercase; }
      }

      em {
        color: $color_text_missing;
        font-style: italic;
      }

      &.change_time          { width: 80px; }
      &.change_detail_key    { width: 130px; }
      &.change_detail_spacer { width: 14px; }
      &.change_detail_value  { width: 310px; }

      a.rollback { float: right; }
    }
  }
}

footer {
  padding: 5px 10px;
  min-height: 18px;
  font-size: 86%;

  #locale_switcher {
    float: right;

    img { vertical-align: bottom; }
    a {
      img { opacity: .5; }
      &:hover img { opacity: 1; }
    }
  }
}
