$color_text: #333;
$color_border: #ccc;
$color_link: #06c;
$color_error: #c00;
$color_warning: $color_error;
$color_alert: $color_error;
$color_notice: #090;
$color_success: $color_notice;

$font: normal 14px verdana, arial, helvetica, sans-serif;

* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}
body {
  background-color: #aaa;
  background-image: linear-gradient(to top, darken(#aaa, 50%), #aaa);
  color: $color_text;
  font: $font;
}
p, ol, ul, td { font: $font; }

a {
  color: $color_link;
  text-decoration: none;

  img { vertical-align: bottom; }
}

fieldset {
  display: inline-block;
  margin: 0 0 20px 0;
  padding: 10px;
  border: 1px solid $color_border;
  border-radius: 5px;

  legend {
    padding: 0 10px;
    font-size: 120%;
    font-weight: bold;
  }
  label {
    display: block;
  }
  input {
    &[type='text'], &[type='email'], &[type='password'] {
      width: 280px;
    }
    &[type='checkbox'] {
      margin: 0;
      vertical-align: text-bottom;

      &+label { display: inline-block; }
    }
    &[type='submit'] {
      float: right;
      padding: 2px 10px;
    }
  }
}

div {
  &.flash {
    margin: -10px 0 10px 0;
    padding: 4px 10px;
    border: 1px solid $color_border;
    text-align: center;
    font-weight: bold;

    &.error, &.alert  {
      color: #fff;
      background-color: $color_alert;
      background-image: linear-gradient(to top, darken($color_alert, 15%), $color_alert);
    }
    &.notice, &.success {
      color: #fff;
      background-color: $color_notice;
      background-image: linear-gradient(to top, darken($color_notice, 15%), $color_notice);
    }
  }

  &#error_explanation {
    width: 400px;
    margin-bottom: 10px;
    padding: 4px 10px;
    border: 1px solid $color_error;
    background: #f0f0f0;

    h2 {
      margin: -4px -10px 4px -10px;
      padding: 0 10px;
      background-color: $color_error;
      color: #fff;
      font-weight: bold;
      font-size: 12px;
      line-height: 20px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: square inside;
      li { font-size: 12px; }
    }
  }

  &.field {
    margin-bottom: 4px;
  }
  &.field_with_errors {
    display: inline;

    label { color: $color_error; }
  }
  &.button {
    padding-top: 10px;
  }
}

table {
  width: 100%;
  margin-bottom: 10px;
  border-collapse: collapse;
  border-spacing: 0;

  thead, tfoot {
    tr {
      border-radius: 5px;
      border: 1px solid $color_border;
    }
  }
  tfoot td {
    font-size: 86%;
  }

  tbody tr:hover {
    background: #eee;
  }

  th, td {
    padding: 4px 6px;
    border: 1px solid $color_border;

    &.right { text-align: right; }
  }
  th, td.left {
    text-align: left;
  }

  img {
    vertical-align: bottom;
  }

  td.button-column {
    width: 1% !important;
    white-space: nowrap;
  }
}

.clear {
  clear: both !important;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}

#page {
  margin: 20px auto;
  width: 960px;
  background-color: #fff;
}

header {
  position: relative;
  padding: 10px 10px 0 10px;

  h1 {
    margin: 0 0 10px 0;
  }

  #account_box {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #navigation {
    ul { list-style: none inside; }
    li {
      display: inline-block;
      margin: 0 0 -1px 10px;
      border: 1px solid $color_border;
      border-radius: 5px 5px 0 0;
      box-shadow: 0 -10px 10px -10px darken($color_border, 10%) inset;
      text-align: center;

      &:first-child { margin-left: 0; }
      &.selected {
        border-bottom-color: #fff;
        box-shadow: none;
      }

      a {
        display: inline-block;
        min-width: 80px;
        padding: 4px 10px;
      }
    }
  }
}

#content{
  padding: 20px;
  border-top: 1px solid $color_border;
  border-bottom: 1px solid $color_border;

  h2 {
    margin-bottom: 5px;

    span {
      float: right;
      font: $font;
    }
  }
}

#login {
  width: 310px;;
  margin: 0 auto;
}

footer {
  padding: 5px 10px;
  min-height: 18px;
  font-size: 86%;

  #locale_switcher {
    float: right;

    img, a:hover img { opacity: 1; }
    a img { opacity: .5; }
  }
}